@import "./ColourVariables.css";

.dropdown-menu-options {
  z-index: 1;
  position: absolute;
  display: none;
  /* top | left, right | bottom margin values */
  margin: 5px -2px 5px;
  padding: 5px;
  cursor: pointer;
  align-self: center;
  color: var(--text-secondary);
  right: 0;
}

.dropdown-menu-options button {
  cursor: pointer;
  display: block;
}

.dropdown-menu-options {
  border: 2px solid var(--component-border);
  background-color: var(--course-card-bg);
}
.dropdown-menu-item {
  padding: 5px;
  border: none;
  background-color: transparent;
  color: var(--text-secondary);
  width: 100%;
  text-align: center;
}
.dropdown-menu-item:hover {
  color: var(--text-active);
  background-color: var(--course-card-bg-active);
}
.dropdown-menu-item:hover {
  color: var(--text-active);
  background-color: var(--course-card-bg-active);
}

#delete-course-button:hover {
  background-color: #e2231d;
}
