@import "tailwindcss";
@import "./ColourVariables.css";

.home-page {
  padding: 0px 10px;
}
.home-header {
  justify-content: space-between;
  align-items: center;
}
.vertical-divider {
  border-left: 1px solid #3c3a3a;
  height: 100%;
  width: 1px;
  justify-self: end;
}
