@import "tailwindcss";
@import "./ColourVariables.css";

.home-page {
  padding: 0px 10px;
}
.home-header {
  justify-content: space-between;
  align-items: center;
}
.vertical-divider {
  border-left: 1px solid var(--divider-color);
  height: 100%;
  width: 1px;
  justify-self: end;
}

.assignment-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  color: var(--text-secondary);
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}
.assignment-item h3 {
  color: var(--text-primary);
  font-weight: bold;
}
